* {
  text-align: center; 
}

body {
background-color: #ffd699; 
}

img {
  height: 300px;
  width: 300px;
  padding: 5px;
}

.container {
  display: grid; 
  grid-template-columns: auto auto auto;
}
.vl {
  border-left: 6px solid black;
  height: 100%;
}
